<% if @tweet.errors.any? %>
  <p>
    <font color = "red" >エラーがあります</font>
  </p>
<% end %>

<%= form_for @tweet, url:{action: :create} do |f| %>
<p><%= f.label :messeage, '今何してる？' %>
  <%= f.text_field :messeage, size: "200x10" %>
</p>

<p><%= f.submit 'つぶやく' %></p>
<% end %>