<h2>
    近畿大学
</h2>
<p class="g">@kinkidaigakuPR</p>
<p>
    近畿大学総務部広報室のTwitter公式アカウントです。近畿大学ホームページの更新情報を中心に、大学に関する情報を発信していきます。個別のお問い合わせには返信を行っておりませんので、ご了承ください。
</p>
<p class="g">大阪府東大阪市</p>
<p>
    <a href= "#">instagram.com/kinkidaigakupr/</a>
</p>
<p>
    2010年12月に登録
</p>